body {
   font-family: Arial, sans-serif;
   font-size: 16px;
   background-color: #a3a2a2;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
}
a {
   cursor: pointer;
   transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
   color: #00ff15;
 }
 .link:hover {
   color: red;
 }

#menu{
   
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   font-size: 20px;
   width: 100%;
   list-style-type: none;
   background-color: #808080;
   margin: 0;
   padding: 5px;
   border: 5px solid #808080;
 }

.button {
   background-color: #04AA6D; /* Green */
   border: black;
   color: white;
   padding: 2px;
   text-align: center;
   text-decoration: none;
   font-size: 11px;
 }

#pesquisa-form{
   font-weight: bold;
   min-width: 400px;
   min-height: 400px;
   background-color: #a7a2a2;
   border-radius: 10px;
   border: 1px solid black;
   line-height: 1.5;
   justify-content: center;
   margin: 10px; /* Espaçamento para separar os formulários */
   float: left;
   margin: 0 10px; /* Espaçamento lateral para centralizar */
   padding: 20px;
   
}
#fieldset-pesquisa{
   padding: 10px;
   margin: 4px;
}
#fieldset-volumes{
   padding: 10px;
   margin: 5px;
}

.Resultados {
   font-weight: bold;
   display: flex;
   width: 100%; /* Largura igual ao container */
   background-color: #a7a2a2;
   margin-top: 20px; /* Espaçamento superior */
   border-radius: 5px;
   line-height: 2.5;
   padding: 20px;
}

.btn-danger:hover{
   color: white;
   background-color: red;
}

#adicionar{
   display: inline-block;
}
#adicionar:hover{
   background-color: #00ff15;
}

#apagar{
   display: inline-block;
}
#apagar:hover{
   background-color: red;
}

#dataframe{
   display: block;
   width: 90%; /* Largura igual ao container */
   background-color: #fff;
   margin-top: 20px; /* Espaçamento superior */
   border: 1;
   text-align: left;
   line-height: 2.5;
}