body {
   font-family: Arial, sans-serif;
   font-size: 16px;
   background-color: #f2f2f2;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
}
a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
   color: #00ff15;
 }
 .link:hover {
   color: red;
 }

#menu{
   font-size: 20px;
   width: 100%;
   list-style-type: none;
   background-color: #808080;
   margin: 0;
   padding: 5px;
   border: 5px solid #808080;
 }

.button {
   background-color: #04AA6D; /* Green */
   border: black;
   color: white;
   padding: 2px;
   text-align: center;
   text-decoration: none;
   font-size: 11px;
 }

.forms {
   width: 300px;
   background-color: #fff;
   border-radius: 5px;
   border: 1px solid black;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   line-height: 2.5;
   margin: 10px; /* Espaçamento para separar os formulários */
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 0 10px; /* Espaçamento lateral para centralizar */
}
#pesquisa-form{
   text-align: left;
   padding: 20px;
   line-height: 2;
}
#valores-form{
   text-align: left;
   padding: 20px;
   line-height: 2;
}

.Resultado {
   display: flex;
   width: 90%; /* Largura igual ao container */
   background-color: #fff;
   margin-top: 20px; /* Espaçamento superior */
   border-radius: 5px;
   text-align: left;
   line-height: 2.5;
}

#tabela-selecionados{
   display: block;
   width: 90%; /* Largura igual ao container */
   background-color: #fff;
   margin-top: 20px; /* Espaçamento superior */
   border: 1;
   text-align: left;
   line-height: 2.5;
}