<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAIDA DE VISITANTES</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="header">
        <img src="../static/img/penla.png" alt="Logo">
        <h1><a href="/"></a></h1>
    </div>
    <nav class="nav-tabs">
        <div class="action-buttons">
            <a href="/lista" class="btn btn-primary">
                <i></i> ENTRADA
            </a>
            <a href="/saida" class="btn btn-primary" >
                <i></i> SAIDA
            </a>
        </div>
    </nav>

   <div class="card totals-card">
        <div class="card-header bg-secondary text-white">
            <h5 class="card-title mb-0">Contagem dos Alojamentos</h5>
        </div>
        <div class="card-body">
            <!-- Alojamento 1 -->
            <div class="row">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">1A</div>
                        <div class="card-body">
                            <h3>{{ totals.aloj_1a|default(0) }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">1B</div>
                        <div class="card-body">
                            <h3>{{ totals.aloj_1b|default(0) }}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Alojamento 2 -->
            <div class="row">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">2A</div>
                        <div class="card-body">
                            <h3>{{ totals.aloj_2a|default(0) }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">2B</div>
                        <div class="card-body">
                            <h3>{{ totals.aloj_2b|default(0) }}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Alojamento 3 -->
            <div class="row">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">3A</div>
                        <div class="card-body">
                            <h3>{{ totals.aloj_3a|default(0) }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">3B</div>
                        <div class="card-body">
                            <h3>{{ totals.aloj_3b|default(0) }}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Alojamento 4 -->
            <div class="row">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">4A</div>
                        <div class="card-body">
                            <h3>{{ totals.aloj_4a|default(0) }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">4B</div>
                        <div class="card-body">
                            <h3>{{ totals.aloj_4b|default(0) }}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TOTAL -->
            <div class="row">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">TOTAL NA CASA</div>
                        <div class="card-body">
                            <h3>{{ totals.total|default(0) }}</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
