<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTA</title>    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/styles.css') }}">
</head>
<body>
    <ul id="menu">
        <li><a href="/lista-selecionados" class="link">Lista</a></li>
    </ul>
    <br>
    
    </br>
    <h1>NAO ERA PARA VOCÊ ESTAR AQUI!</h1>
</body>
</html>



