<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa de Sentenciados</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/styles.css') }}">
</head>
<body>
    <div class="header">
        <img src="../static/img/penla.png" alt="Logo">
        <h1><a href="/">Sistema</a></h1>
    </div>
    <nav class="nav-tabs">
        <ul>
            <li class="">
                <a href="/lista" class="link">ENTRADA</a>   
            </li>
            <li class="">
                <a href="/lista-saida" class="link">SAIDA</a> 
            </li>
        </ul>
    </nav>
    <br>
    
    </br>
 

</body>
</html>



