<!DOCTYPE html>
<html>
<head>
    <title>Lista de Selecionados</title>
</head>
<body>
    <h2>Lista de Selecionados</h2>
    <table id="tabela-selecionados" border="1">
        <tr>
            <th>Nome</th>
            <th>Matrícula</th>
            <th>Data Adição</th>
        </tr>
        {% for item in lista %}
        <tr>
            <td>{{ item.nome }}</td>
            <td>{{ item.matricula }}</td>
            <td>{{ item.data_adicao.strftime('%d/%m/%Y %H:%M') }}</td>
            <td>{{ item.garrafas }}</td>
            <td>{{ item.homens }}</td>
            <td>{{ item.mulheres }}</td>
            <td>{{ item.criancas }}</td>  
        </tr>
        {% endfor %}
    </table>
    <a href="/lista">Voltar para Pesquisa</a>
</body>
</html>
