<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTA</title>    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/styles.css') }}">
</head>
<body>
    <ul id="menu">
        <li><a href="/lista-selecionados" class="link">Lista</a></li>
    </ul>
    <br>
    
    </br>
    <div class="forms">
        <form method="POST" id="pesquisa-form">
            {{ form.csrf_token }}
            <p>{{ form.matricula.label }} {{ form.matricula() }}</p>
            <p>{{ form.nome.label }} {{ form.nome() }}</p>
            <button><p>{{ form.pesquisar() }}</p></button>
        </form>
    </div>

    <!-- Display search results -->
    <div class="Resultado">
        {% if sentenciados %}
        <ul>
            {% for sentenciado in sentenciados %}
            <li>
                {{ sentenciado.nome }} - {{ sentenciado.matricula }}
                <button onclick="adicionarLista('{{ sentenciado.matricula }}')">Adicionar</button>
                <button onclick="apagar('{{ sentenciado.matricula }}')" class="btn-danger">Apagar</button>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <script>
        function adicionarLista(matricula, nome) {
            const garrafas = prompt('Quantas garrafas?');
            const homens = prompt('Quantos homens?');
            const mulheres = prompt('Quantas mulheres?');
            const criancas = prompt('Quantas crianças?');

            const data = {
                matricula_nome: matricula + ' ' + nome,
                garrafas: garrafas,
                homens: homens,
                mulheres: mulheres,
                criancas: criancas
            };

            fetch('/adicionar/' + matricula, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('Adicionado com sucesso');
                } else {
                    alert('Erro ao adicionar a matricula ');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Erro ao adicionar a matricula ' + matricula);
            });
        }
    </script>
    <script>
        function apagar(matricula) {
            if (confirm('Voce está certo disso?')) {
                fetch(`/remover/${matricula}`, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    location.reload();
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Erro ao apagar a matricula' + matricula);
                });
            } else {
                alert('Operação cancelada');
            }
        }
    </script>
    <script>
        function apagar_lista() {
            if (confirm('ESTA AÇÃO É IRREVERSÍVEL, E APAGA TODA A LISTA VOCE TEM CERTEZA?')) {
                fetch(`/del-lista`, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    location.reload();
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Erro ao apagar a matricula' + matricula);
                });
            } else {
                alert('Operação cancelada');
            }
        }
    </script>
</body>
</html>
