<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAIDA DE VISITANTES</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <img src="../static/img/penla.png" alt="Logo">
        <h1><a href="/"></a></h1>
    </div>
    <nav class="nav-tabs">
        <div class="action-buttons">
            <a href="/" class="btn btn-primary">
                <i></i> INICIO
            </a>
            <a href="/lista-selecionados" class="btn btn-primary">
                <i></i> VER LISTA
            </a>
        </div>
    </nav>
    <p>

    </p>
    <div class="row">
    <div class="col">
    <form method="POST" class="pesquisa-form">
        {{ form.csrf_token }}
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="matricula" placeholder="Matricula" name="matricula">
            <label for="matricula">{{ form.matricula.label }}</label>
        </div>
      
        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome">
            <label for="nome">{{ form.nome.label }}</label>   
        </div>  

        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="garrafas" placeholder="PETs" name="garrafas">
            <label for="garrafas">{{ form.garrafas.label }}</label>   
        </div> 

        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="homens" placeholder="Homens" name="homens">
            <label for="homens">{{ form.homens.label }}</label>   
        </div>  

        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="mulheres" placeholder="Mulheres" name="mulheres">
            <label for="mulheres">{{ form.mulheres.label }}</label>   
        </div>  

        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="criancas" placeholder="Crianças" name="criancas">
            <label for="criancas">{{ form.criancas.label }}</label>   
        </div>  
       
        <p>
            <button type="submit" class="btn btn-primary">Pesquisar</button>
            <button type="submit" class="btn btn-danger" formaction="{{ url_for('limpar_lista') }}" formmethod="post" onclick="return confirm('Tem certeza que deseja apagar toda a lista?');">
                <i class="fas fa-trash"></i> Limpar Lista
            </button>
        </p>
        </form>
        </div>
        <div class="col">
        {% if sentenciados %}
        <table class="table table-striped-columns">
            <thead>
                <tr>
                  <th scope="col">Matricula</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Alojamento</th>
                  <th scope="col">Acao</th>
                </tr>
              </thead>
            <tbody>
                {% for sentenciado in sentenciados %}
                    <tr>
                        <td>{{ sentenciado['matricula'] }}</td>
                        <td>{{ sentenciado['nome'] }}</td>
                        <td>{{ sentenciado['pavilhao'] }}</td>
                        <td>
                            <button class="btn btn-primary" onclick="adicionar('{{ sentenciado['matricula'] }}')">Adicionar</button>
                            <button class="btn btn-danger" onclick="apagar('{{ sentenciado['matricula'] }}')">Remover</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        {% endif %}
        </div>
    </div>

    <script>
        function adicionar(matricula) {
            const garrafas = document.getElementById('garrafas').value;
            const homens = document.getElementById('homens').value;
            const mulheres = document.getElementById('mulheres').value;
            const criancas = document.getElementById('criancas').value;

            fetch('/adicionar/' + matricula, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    garrafas: garrafas,
                    homens: homens,
                    mulheres: mulheres,
                    criancas: criancas
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('Adicionado com sucesso!');
                    // Optionally, refresh the page or update the list
                    window.location.href = '/lista-selecionados'; // Redirect to the list
                } else {
                    alert('Erro ao adicionar: ' + data.message);
                }
            });
        }
    </script>
    <script>
        function apagar(matricula) {
            if (confirm('Voce está certo disso?')) {
                fetch(`/remover/${matricula}`, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    location.reload();
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Erro ao apagar a matricula' + matricula);
                });
            } else {
                alert('Operação cancelada');
            }
        }
    </script>
    <script>
        function apagar_nome_lista(nome) {
            if (confirm('ESTA AÇÃO É IRREVERSÍVEL, E APAGA O NOME DA LISTA. VOCE TEM CERTEZA?')) {
                fetch(`/del-nome-lista/${nome}`, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    location.reload();
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Erro ao apagar o nome da lista: ' + nome);
                });
            } else {
                alert('Operação cancelada');
            }
        }
    </script>

</div>
</body>
</html>
